@import '../../_assets/styles/variables';
@import '../../_assets/styles/mixins';

.song-list {
	&-head {
		padding: 1.5rem 1rem 0.5rem;
		font-size: 1.5rem;
		text-align: left;
	}
	&--row {
		&-container {
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			@include transition(all);
			grid-gap: 1.5rem;
			padding: 1.5rem;
			display: grid;
		}
	}
}
