
$dark: #21242e;
$light: white;
$low-light: #eee;

$theme-dark-bg: $dark;
$theme-light-bg: $light;
$theme-dark-text: $light;
$theme-light-text: $dark;
$theme-light-bg-2nd: rgba($dark, 0.07);

$theme-btn-dark-bg: rgba($dark, 0.3);
$theme-btn-light-bg: $light;
$theme-btn-dark-text: $theme-btn-light-bg;
$theme-btn-light-text: $theme-btn-dark-bg;

$gaana-red: #e72c30;

$header-height: 80px;
$player-height: 90px;
