@import '../../_assets/styles/variables';
@import '../../_assets/styles/mixins';

.footer-audio-player {
	min-height: $player-height;
    @include transition(all);
	@include box-shadow;
	position: fixed;
	padding: 1rem;
	display: flex;
	z-index: 9999;
	width: 100%;
	bottom: 0;

	.song-data {
		@include transition(all);
		margin-right: 1rem;
		max-width: 40vw;
		display: flex;

		&-thumb {
			margin-right: 1rem;
			
			img { display: block }
		}
		.song-info {
            @include song-info;

			&-title {
				@include text-overflow-one;
                line-height: 2rem;
				font-weight: 600;
			}
			&-description {
				@include text-overflow-one;
				font-size: 0.8rem;
			}
        }
	}
	audio {
		background-color: transparent;
		@include transition(width);
		display: block;
		margin: auto;
		width: 50vw;
		outline: 0;
	}
	.autoplay {
		@include transition(width);
		justify-content: center;
		align-items: center;
		margin-left: 1rem;
		font-weight: 600;
		display: flex;

		label {
			text-transform: uppercase;
			justify-content: center;
			align-items: center;
			font-size: 0.8rem;
			min-width: 120px;
			cursor: pointer;
			max-width: 10vw;
			display: flex;

			input { visibility: hidden }
		}
		span {
			border: 1px solid $theme-dark-bg;
			background-color: $light;
			display: inline-block;
			border-radius: 0.8rem;
			padding: 0.1rem 0;
			margin-left: 10px;
			min-width: 55px;
			color: $dark;
		}
	}
}
