@import '../../_assets/styles/variables';
@import '../../_assets/styles/mixins';

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
}
body {
	font: 400 1rem 'Montserrat', sans-serif;
	line-height: 1.2rem;
}

#page-layout {
	justify-content: space-between;
	padding-bottom: $player-height;
	padding-top: $header-height;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	display: flex;

	&.theme {
		&-light {
			background-color: $theme-light-bg-2nd;
			color: $theme-light-text;

			header {
				background-color: $theme-light-bg;
				@include transition(all);
				color: $theme-light-text;
			}
			.btn-theme {
				.fill_path { fill: $theme-btn-light-text }
			}
			.footer-audio-player { background-color: $theme-light-bg }
			#search {
				background-color: rgba($theme-dark-bg, 0.05);
				&:focus, &:focus-within {
					border-color: rgba($theme-dark-bg, 0.05);
				}
			}
		}
		&-dark {
			background-color: rgba($theme-dark-bg, 0.8);
			color: $theme-dark-text;
			
			header {
				background-color: $theme-dark-bg;
				@include transition(all);
				color: $theme-dark-text;
			}
			.btn-theme {
				.fill_path { fill: $theme-btn-dark-text }
			}
			.footer-audio-player { background-color: $theme-dark-bg }
			#search {
				background-color: rgba($theme-light-bg, 1);
				&:focus, &:focus-within {
					border-color: rgba($theme-dark-bg, 0.25);
				}
			}
		}
	}

	section {
		flex-grow: 1;

		.no-search-data {
			padding-top: 20vh;
		}
	}
	
}
